@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Merienda&display=swap');

/* Css Reset */

body {
    padding: 0px;
    margin: 0px;
}

/* Css Variables */

--root{
    --bg-color:black;
}

/* Body Structure  */

/* Naviagtion */

#retreat h3{
    text-align: center;
    display: inline-block;
    color:#fff;
    padding-left: 15px;
    padding-top: 0px;
    font-family: 'Delicious Handrawn', cursive;
}

#retreat h3:hover{
    color:red;
}

/* #logo
{
    padding: 0px 0px;
}

#logo img {
    height:100%;
    filter:invert(1)
} */



nav {
    background-color:black;
    height: 60px;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li {
    margin: 1px 14px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 60px;
    padding: 0 10px;
    transition: all 0.3s ease;
    font-family: 'Merienda', cursive;
}

nav ul li a:hover {
    background-color: #fff;
    color: #2c3e50;
}

/* Home Section  */


#home {
    display:flex;
    justify-content: center;
    align-items: center;
    background: url('static/bg3.jpg') no-repeat center center/cover;
    height: 600px;
    z-index: -1;
    opacity:0.79;
    width: 100%;
}

.home h1 {
    font-size: 3rem;
    font-family: 'Delicious Handrawn', cursive;
    color:white;
}

.home h1:hover {
    color:red;
}

/* #home::before{ 
    content: "";
    position: absolute;
    background: url('static/bg3.jpg') no-repeat center center/cover;
    top:0px;
    left:0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity:0.9;
} */