@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Merienda&display=swap');

/* Css Reset */

body {
    padding: 0px;
    margin: 0px;
}

/* Css Variables */

--root{
    --bg-color:black;
}

/* Body Structure  */

/* Naviagtion */

#retreat h3{
    text-align: center;
    display: inline-block;
    color:#fff;
    padding-left: 15px;
    padding-top: 0px;
    font-family: 'Delicious Handrawn', cursive;
}

#retreat h3:hover{
    color:yellow;
}

/* #logo
{
    padding: 0px 0px;
}

#logo img {
    height:100%;
    filter:invert(1)
} */



nav {
    background-color:black;
    height: 60px;
    top:0px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    overflow: visible;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li {
    margin: 1px 14px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 60px;
    padding: 0 10px;
    transition: all 0.3s ease;
    font-family: 'Merienda', cursive;
}

nav ul li a:hover {
    background-color: #fff;
    color: #2c3e50;
}

/* Home Section  */


#home {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 100%;
}

.home h1 {
    font-size: 3rem;
    font-family: 'Delicious Handrawn', cursive;
    color:yellow;
    padding-bottom: 10px;
}



#home::before{ 
    content: "";
    position: absolute;
    background: url('static/bg3.jpg') no-repeat center center/cover;
    top:0px;
    left:0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity:0.79;
}

/* About Section  */
 
.about-us {
    background-color: #f7f79e;
    padding: 55px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .container h2 {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 36px;
    margin-bottom: 35px;
    color: #363636;
    margin-top: 5px;
  }
  
  .container p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #5D5D5D;
    font-family: 'Merienda', cursive;
  }
  
  .btn {
    display: inline-block;
    background-color: #363636;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Merienda', cursive;
  }
  
  .btn:hover {
    background-color: #5D5D5D;
  }
  
  




/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }